@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="hero-section">
    <div class="hero-content">
        <h1>Welcome to ClipStationHub</h1>
        <p>Your go-to platform for sharing, discovering and enjoying my latest clips.
            Connect with me and email me your clips to be featured on this site!

        </p>
        <a href="/Clips" class="btn btn-primary btn-lg">Explore Clips</a>
        
        <!-- Email Section -->
        <div class="email-section">
            <a href="mailto:alexcardenas610@gmail.com" class="email-link">
                <img src="~/images/email_logo.jpg" alt="Email" class="email-icon" />
    </a>
</div>
    </div>
</div>

<div class="features-section">
    <div class="feature">
        <h2>Upload Your Clips</h2>
        <p>Share your favorite moments with the world by emailing me your video clips.</p>
    </div>
    <div class="form-section">
    <h2>Join the Community</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="UserModel.Name"></label>
            <input asp-for="UserModel.Name" class="form-control" />
            <span asp-validation-for="UserModel.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModel.Email"></label>
            <input asp-for="UserModel.Email" class="form-control" />
            <span asp-validation-for="UserModel.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    <div class="feature">
        <h2>Engage with the Community</h2>
        <p>Explore guides, stay updated with the latest news, and watch featured amazing clips from gamers 
        around the world! Join me and help grow the ClipStationHub community today!</p>
    </div>
    <div class="feature">
        <h2>Discover New Content</h2>
        <p>Browse through a seamless collection of videos uploaded by me.</p>
    </div>
</div>